body {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

Main {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 15%;
}

.guesses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.btn {
    padding: 1%;
    margin: 1%;
}

.card-hidden {
    display: none;
}
.card-revealed {
    display: block;
}

